@import "../mixins.scss";

.sort-by-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 6px 12px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}

.home-button {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.sort-by-div {
  select:focus { 
    box-shadow: none;
    outline: none;
  }
}

.image-gallery {
  padding: 40px;
  display: grid;
  justify-content: center;
  width: 86vw;
  gap: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include large-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.single-image {
  border-radius: 14px;
  a {
    font-size: 0px;

    img {
      height: auto;
      width: 100%;
      display: block;
      border-radius: 14px;
    }
    img:hover {
      transform: scale(1.1);
      transition: 0.8s;
    }
  }
}

.single-image:hover {
  overflow: hidden;
}

.pagination-buttons {
  span {
    margin: 0 10px;
    font-weight: 900;
    font-size: 18px;
  }
}

.single-image-div {
  span {
    margin: 0 8px;
  }

  .single-image {
    max-width: 90vw;
  }
}

.spinner {
  margin: 80px;
}
