body {
  background-color: rgb(244, 242, 242);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}
